.mypy_cache
venv*
__pycache__
app.db
mcp.json
app.config
output
.env
**/.DS_Store
**.egg-info/
webhook/data
webhook/data2
webhook/*.db
.idea
poc/
llm_profiles.json
dist
build
.coverage
task.json
.pytest_cache